.about {
    background-color: var(--background);
    min-height: 100vh;
}

.about .container {
    display: flex;
}

.about .img {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .img img {
    width: 100%;
}

.about .content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: PoppinsLight;
    padding: 0 1.5rem;
    text-align: center;
}

.about .content header h1 {
    font-size: 2rem;
}

.about .content p {
    color: var(--secondary);
    font-size: 1.7rem;
    width: 85%;
    margin: 0 0 0 auto;
    text-align: left;
}

.about .content button {
    width: 300px;
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--main);
    padding: 10px 0;
    border-radius: 25px;
    border: 1px solid var(--border);
    background-color: transparent;
    cursor: pointer;
}

.about .content button:hover {
    color: var(--hover);
    transform: scale(1.01);
    transition: 0.2s;
    border-color: var(--hover);
    animation-name: btnAnimation;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes btnAnimation {
    from {
        border: 1px solid var(--border);
        color: var(--main);
    }

    to {
        border: 1px solid var(--hover);
        color: var(--hover);
    }
}

@media (min-width: 282px) and (max-width: 1024px) {
    .about {
        min-height: fit-content;
        padding: 3rem 0;
    }

    .about .container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about .img {
        width: 100%;
        height: fit-content;
    }

    .about .content {
        width: 100%;
        height: fit-content;
        padding: 3rem 0;
    }

    .about .content p {
        text-align: center;
        width: 100%;
        margin: 2rem auto;
    }
}

@media (min-width: 282px) and (max-width: 767px) {
    .about .content p {
        font-size: 1.5rem;
    }
}
