.customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customers .container {
    display: flex;
}

.customers .container .btn {
    margin: 0 25px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.customers .container .btn img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--background);
    padding: 15px;
    display: block;
}

.customers .container .btn img:hover {
    background-color: var(--white);
    border: 1px solid var(--main);
    transform: scale(1.09);
    transition: 0.5s;
}

.customersContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.customersContainer .customer {
    background-color: var(--background);
    padding: 80px 30px 30px;
    position: relative;
    box-shadow: 1px 1px 5px 1px var(--border);
}

.customersContainer .customer:hover {
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: scale(1.02);
    background-color: var(--white);
}

@keyframes example {
    0% {
        background-color: var(--background);
    }
    50% {
        background-color: var(--white);
        transform: scale(1.02);
    }
}

.customersContainer .customer .quote {
    width: 150px;
    display: block;
    position: absolute;
    top: -60px;
    right: 0;
}

.customersContainer .customer .info {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}

.customersContainer .customer .info img {
    width: 100px;
}

.customersContainer .customer .info p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 15px;
}

@media (min-width: 282px) and (max-width: 1024px) {
    .customers {
        margin: 3rem auto;
    }

    .customers .container {
        flex-direction: column;
    }

    .customers .container .btn img {
        margin: 2rem auto;
        transform: rotate(90deg);
    }

    .customersContainer {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .customersContainer .customer {
        margin: 1.5rem auto;
    }

    .customersContainer .customer .info {
        justify-content: flex-start;
    }
}
