@font-face {
    font-family: Tajawal;
    src: url(../fonts/Tajawal/Tajawal-Regular.ttf);
}

.home {
    background-image: url(/public/images/background\ 1.png);
    background-size: cover;
    min-height: 110vh;
    /* background-position-y: -100px; */
}

.landding {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.landding .img {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.landding .img img {
    width: 100%;
}

.landding .header {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.landding h1 {
    font-weight: 700;
    width: 95%;
}

.landding p {
    font-size: 1.1rem;
    font-weight: 600;
}

@media (min-width: 282px) and (max-width: 767px) {
    .home {
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .landding {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 80vh;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .landding .img {
        height: fit-content;
        width: 90%;
        margin: 15px auto;
    }

    .landding .img img {
        width: 100%;
    }

    .landding .header {
        text-align: center;
        height: fit-content;
        margin: 30px auto;
    }

    .landding header h1 {
        font-size: 2.1rem;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .landding {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 80vh;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .landding .img {
        height: fit-content;
        width: 90%;
        margin: 15px auto;
    }

    .landding .img img {
        width: 100%;
    }

    .landding .header {
        text-align: center;
        height: fit-content;
        margin: 30px auto;
    }

    .landding header h1 {
        font-size: 4rem;
        width: 100%;
    }

    .landding header p {
        font-size: 1.4rem;
    }
}
