@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

.home {
    background-image: url(../images/unrecognizable-employee-working-with-laptop1.png);
    background-size: cover;
    /* background-position-y: -100px; */
}

.landding {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.landding header {
    display: flex;
    height: 84vh;
    flex-direction: column;
    justify-content: center;
}

.landding h1 {
    font-family: Poppins-Light;
    font-size: 3rem;
}

.landding p {
    font-size: 1.1rem;
}

@media (min-width: 282px) and (max-width: 767px) {
    .home {
        background-color: #f2f0f1;
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: 100% bottom;
    }

    .landding {
        grid-template-columns: repeat(1, 1fr);
    }

    .landding header {
        text-align: center;
    }

    .landding header h1 {
        font-size: 2.1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        background-color: #f2f0f1;
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: 100% bottom;
    }

    .landding {
        grid-template-columns: repeat(1, 1fr);
    }

    .landding header {
        text-align: center;
        height: 70vh;
    }

    .landding header h1 {
        font-size: 3.8rem;
    }
}
