.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.navbar .logo img {
    width: 150px;
}

.navbar .navList {
    list-style: none;
    display: flex;
}

.navbar .navList .bar {
    display: none;
}

.navbar .list {
    display: flex;
}

.navbar .list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
}

.navbar .list a {
    color: var(--hover);
    text-decoration: none;
    position: relative;
}

.navbar .list a:hover {
    color: var(--main);
    text-decoration: none;
    transition: 0.3s;
}

.navbar .list a:hover::after {
    position: absolute;
    content: '';
    width: 40%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--border);
    transition: 0.3s;
}

.navbar .list .searchSec {
    background-color: var(--background);
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    padding: 5px 10px 1px;
    border-radius: 30px;
    position: relative;
    top: 16px;
    box-shadow: 2px 2px 1px 1px #d6d6d6;
}

.navbar .list .searchSec input {
    background-color: transparent;
    width: 115px;
    height: 5px;
    padding: 12px 7px;
    border: none;
    color: var(--main);
}

.navbar .list .searchSec input:focus-visible {
    outline: none;
}

.navbar .list .searchSec img {
    width: 25px;
}

.navbar .list .active a {
    color: var(--main);
}

.navbar .list .active a::after {
    position: absolute;
    content: '';
    width: 40%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--border);
}

.navbar .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar .buttons .btn {
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 130px;
    height: 40px;
    font-family: Harir;
    font-weight: 500;
    background-image: radial-gradient(circle at center, var(--secondary), var(--hover));
    color: var(--background);
    cursor: pointer;
}

.navbar .buttons .btn:hover {
    background-image: radial-gradient(var(--secondary), var(--hover));
    transition: .2s;
    box-shadow: 0px 1px 2px 2px var(--background);
    transform: scale(1.02);
}

@media (min-width: 282px) and (max-width: 992px) {
    .navbar {
        padding: 20px 30px;
    }

    .navbar .logo {
        display: none;
    }

    .navbar .navList {
        position: relative;
    }

    .navbar .navList .bar {
        display: block;
        text-align: right;
    }

    .navbar .navList .list {
        display: none;
        position: absolute;
        background-color: var(--background);
        padding: 25px;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 5px;
        width: 300px;
    }

    .navbar .navList .list li {
        margin: 15px 0;
        border-bottom: 1px solid var(--white);
    }

    .navbar .navList:hover .list {
        display: block;
    }

    .navbar .list a:hover::after {
        content: none;
    }

    .navbar .list .active a::after {
        content: none;
    }
}

@media (min-width: 282px) and (max-width: 767px) {
    .navbar .navList {
        width: calc(100% - 150px);
    }

    .navbar .navList .bar img {
        width: 50px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar .logo img {
        width: 200px;
    }

    .navbar .navList .bar img {
        width: 60px;
    }
}
