.navbar {
    padding: 1rem 0;
    display: flex;
}

.navbar .logo img {
    width: 150px;
}

.navbar .list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 200px);
}

.navbar .list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.navbar .list a {
    color: var(--hover);
    text-decoration: none;
}

.navbar .list a:hover {
    color: var(--main);
    text-decoration: none;
}

.navbar .list .searchSec {
    background-color: var(--background);
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    padding: 5px 10px 1px;
    border-radius: 30px;
    position: relative;
    top: 16px;
    box-shadow: 2px 2px 1px 1px #d6d6d6;
}

.navbar .list .searchSec input {
    background-color: transparent;
    width: 115px;
    height: 5px;
    padding: 12px 7px;
    border: none;
    color: var(--main);
}

.navbar .list .searchSec input:focus-visible {
    outline: none;
}

.navbar .list .searchSec img {
    width: 25px;
}

.navbar .list .active a {
    color: var(--main);
    text-decoration: underline;
    text-decoration-color: var(--hover);
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}
