.projects {
    background-color: var(--background);
}

.container {
    font-family: PoppinsLight;
    text-align: center;
    padding: 2rem 0;
}

.container header h1 {
    font-size: 2rem;
    margin: 1.2rem auto;
}

.container header h2 {
    color: var(--secondary);
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 150px;
    border-bottom: 5px solid var(--border);
    padding-bottom: 150px;
}

.project:nth-child(odd) {
    display: flex;
}

.project:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.project .img {
    width: 25%;
}

.project .img img {
    width: 100%;
}

.project:nth-child(odd) .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 60%;
    margin: 0 0 0 auto;
}

.project:nth-child(even) .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 60%;
    margin: 0 auto 0 0;
}

.project .content header h2 {
    color: var(--main);
    text-transform: uppercase;
    margin: 15px auto;
}

.project .content p {
    color: var(--secondary);
}

.facts {
    padding: 2rem;
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    border-radius: 100px;
    margin: 100px auto;
}

.facts .fact {
    display: flex;
    justify-content: center;
}

.facts .fact:first-child,
.facts .fact:nth-child(2) {
    border-right: 3px solid var(--background);
}

.facts .fact .img {
    width: 80px;
    margin: 0 25px;
}

.facts .fact .img img {
    width: 100%;
}

.facts .fact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

@media (min-width: 282px) and (max-width: 1024px) {
    .project,
    .project:nth-child(even) {
        flex-direction: column;
        margin: 3rem auto;
    }

    .project .img {
        width: 70%;
        margin: 0 auto;
    }

    .project:nth-child(even) .content,
    .project:nth-child(odd) .content {
        width: 80%;
        text-align: center;
        margin: 1.5rem auto;
    }

    .project .content p {
        font-size: 1.5rem;
    }

    .facts {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 0 auto;
    }

    .facts .fact {
        flex-direction: column;
        text-align: center;
    }

    .facts .fact:first-child,
    .facts .fact:nth-child(2) {
        border-right: none;
    }

    .facts .fact .img {
        width: 150px;
        margin: 0 auto;
    }

    .facts .fact .content {
        text-align: center;
        margin: 1.5rem auto;
        font-size: 1.5rem;
    }
}

@media (min-width: 282px) and (max-width: 767px) {
    .facts {
        border-radius: 70px;
    }

    .facts .fact .img {
        width: 80px;
        margin: 0 auto;
    }
}
