.projects {
    background-image: url(/public//images/background\ 3.png);
    background-size: cover;
    min-height: 118vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-weight: 700;
    width: 20%;
    position: relative;
    top: 70px;
    right: 100px;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    width: 80%;
    margin: 100px auto 30px 0;
}

.project {
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 3px 3px var(--background);
}

.project:hover {
    background-color: var(--background);
    transition: .2s;
}

.project:nth-child(2) {
    transform: scale(1.2);
}

.project img {
    width: 70%;
    margin: 0 auto;
}

@media (min-width: 282px) and (max-width: 1024px) {
    .projects {
        background-position-x: -400px;
        background-repeat: no-repeat;
    }

    .container h1 {
        width: 100%;
        position: relative;
        top: 70px;
        right: 0;
    }

    .projectsContainer {
        grid-template-columns: repeat(1, 1fr);
        margin: 100px auto 70px;
        grid-column-gap: 50px;
    }

    .project img {
        width: 50%;
    }

    .project:nth-child(2) {
        transform: none;
    }

}

@media (min-width: 282px) and (max-width: 767px) {
    .projects {
        background-position-x: -700px;
    }

    .container h1 {
        font-size: 3rem;
    }

    .project img {
        width: 80%;
    }
}
