.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.services .container {
    text-align: center;
    font-family: PoppinsLight;
}

.services .container header h1 {
    font-size: 2rem;
    margin: 3rem auto;
}

.serviceContiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    overflow: hidden;
}

.service {
    text-align: center;
}

.serviceAnimation {
    position: relative;
    animation-name: serviceAnimation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes serviceAnimation {
    0% {
        transform: translate(0, 300px);
    }
    50% {
        transform: translate(0, 0);
    }
}

.service .img {
    background-color: var(--background);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 1.2rem auto;
    text-align: center;
}

.service .img img {
    width: 70%;
    position: relative;
    top: 35%;
    left: 18%;
    transform: translate(-25%, -25%);
}

.service header h3 {
    text-transform: uppercase;
    margin: 1.5rem auto;
}

.service p {
    text-align: center;
    color: var(--secondary);
}

@media (min-width: 282px) and (max-width: 767px) {
    .serviceContiner .service p {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .serviceContiner .service p {
        font-size: 1.5rem;
    }
}

@media (min-width: 282px) and (max-width: 1024px) {
    .services .container header h1 {
        margin: 3rem auto 0;
    }

    .serviceContiner {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 0;
    }

    .serviceContiner .service {
        width: 80%;
        margin: 0 auto;
    }
}
