* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: 0;
    -webkit-box-sizing: 0;
}

:root {
    --main: #1a2d68;
    --secondary: #5b6ea8;
    --hover: #0375be;
    --border: #707070;
    --background: #ebe9ea;
    --white: #ffffff;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}

body {
    font-family: Poppins;
    color: var(--main);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    min-height: 100vh;
}
